/*Main layout css*/
@font-face {
	src:url("../../../../fonter/Font/Raleway-SemiBold.ttf");
	font-family: "Raleway SemiBold";
}
body {
	 font-family: "Raleway SemiBold";
	background-image: url(../../images/gammelt-papir.png);
	
}

.header {
padding: 0px;
  margin: 0px;
  display: flex;
	flex-direction: column;

 line-height: 0;
	align-items: center;
  background: #c31414;
	margin-top: -10px;
  color: white;
  width: 105%;
	margin-left: -10px;
  text-align: center;

}

.header h1 {
  font-size: 30px;
	
}
.header p {
	 opacity: .9;
	font-size: .3;
}

.footer {
	padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
   position: fixed;
   justify-content: center;
   height: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c31414;;
   color: white;
   text-align: center;
   list-style: none;
   padding-bottom: 5px;
}

.footer li {
   display: flex;
   align-items: center;
   margin-left: 40px;
   margin-right: 40px;
}
/*Main Index css slut*/
/*SHOPPINGLIST CSS*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
font-size: .97em;
	background-size: 170px 120px;
	
}

.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
	
}

.plus {
  display:inline-block;
  width:50px;
  height:50px;
margin-left: 50px;
  
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #c31414;
  background-position:center;
	
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.alt {
  background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000);
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}
.radius {
  border-radius:50%;
}

/* Style the buttons */
.btn {
  border: none;

	border-radius: 10px;
  outline: none;
  padding: 12px 16px;

  background-color: #DB6B6D;
  cursor: pointer;
	
}

.btn:hover {
  background-color: #CD3538;
}

.btn.active {
  background-color: #CD3538;
  color: white;
}

.treasurechest {
	position: relative;
	float: right;
	margin-bottom: 7em;
    z-index: -1;
}

.button {
  background-color: #c31414;
	border-radius:28px;
  border: none;
  color: white;
  padding: 20px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}