* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../../images/gammelt-papir.png);
  font-family: 'raleway', sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c31414;
  color: white;
  height: 200px;
  width: 100%;
  font-family: 'raleway', sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.footer {
  display: flex;
  flex-direction: row;
   position: fixed;
   height: 200px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c31414;
   color: white;
   text-align: center;
   font-family: 'raleway', sans-serif;
   list-style: none;
   padding-bottom: 5px;
}

li {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

li img{
  height: auto;
  width: 100px;
}

.button{
  background:#c31414;
	border-radius:11px;
	border:1px solid #c31414;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'raleway', sans-serif;
	font-weight: 500;
	font-size: 60px;
	padding:10px 46px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  width: 300px;
  margin: 40px;
}

.button:active {
	position:relative;
	 transform: scale(1.01);
}

.button:hover{
  background: #8c1419;
}

.slutBtn{
  text-align: center;
  top: 50%;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.modal-content{
  background-color: white;
  margin: 50% auto;
  width: 600px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name:modalopen;
  animation-duration: 1s;
  border-radius: 14px;
  border: 2px solid #c31414;
}

.blank{
  font-size: 0px;
}

.modal-header{
background: #c31414;
padding: 10px;
color: white;
border-radius: 11px 11px 0px 0px;
border: 2px solid #c31414;
margin: 0px;
text-align: center;
font-size: 50px;
}

.modal-body{
  padding: 30px 70px;
  text-align: center;
  font-size: 40px;
}

.modal-footer{
  text-align: center;
}

.closeBtn{
  color: white;
  float: right;
  cursor: pointer;
  font-size: 80px;
  line-height: 20px;
}

.closeBtn:hover,.closeBtn:focus{
  color: #8c1419;
  text-decoration: none;
}

.pirat{
  padding: 40px;
}

p {
  padding: 15px;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity: 1}
}
