@charset "utf-8";
/* CSS Document */
@font-face {
	src:url("../../../../fonter/Font/Raleway-SemiBold.ttf");
	font-family: "Raleway SemiBold";
}




* {
  padding: 0px;
  margin: 0px;
}


body {
  background-image: url(../../images/gammelt-papir.png);
  background-position: center; /* vil ikke fylde hele siden*/
	height: 1000px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #c31414;
  border-radius: 20px;
  z-index: 10;
  width: 800px;
  max-width: 80%;
}

.modal.aktiv {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header .title {
  font-size: 100px;
  font-family: "Raleway SemiBold";
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 30px 40px;
  font-size: 50px;
  font-family: "Raleway SemiBold";
  font-weight: bold;
  color: white;
  text-align: center;
}

.modal-body img {
  padding-top: 20px;
  width: 100%;
}

.modal .hintpil {
  height: 100px;
  width: 100px;
}

.hest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #c31414;
  border-radius: 20px;
  z-index: 10;
  width: 800px;
  max-width: 80%;
}

.hest.aktiv {
  transform: translate(-50%, -50%) scale(1);
}

.hest-header {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hest-header .title {
  font-size: 80px;
  font-family: "Raleway SemiBold";
  font-weight: bold;
  color: white;
}

.hest-body {
  padding: 30px 40px;
  font-size: 50px;
  font-family: "Raleway SemiBold";
  font-weight: bold;
  color: white;
  text-align: center;
}

.hest-body img {
  padding-top: 20px;
  width: 100%;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
}

#overlay.aktiv {
  pointer-events: all;
  opacity: 1;
}

.header {
	position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c31414;
  height: 200px;
  color: white;
  width: 100%;
  font-family: "Raleway SemiBold";
  text-align: center;

}

.tilbageknap img {
  height: 70px;
}

.header h1 {
  font-size: 70px;
	margin-top: -40px;
  margin-right: 25%;
	line-height: 70px;;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.varebillede img {
  width: 100%;
}

.tekstsektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.læsmere {
    background-color: #c31414;
  	border-radius: 11px;
  	border: 1px solid #c31414;
  	display: inline-block;
  	cursor: pointer;
  	color: #ffffff;
  	font-family: "Raleway SemiBold";
  	font-weight: 500;
  	font-size: 60px;
  	padding: 10px 46px;
  	text-decoration: none;
  	text-shadow: 0px 1px 0px #2f6627;
    width: 300px;
    text-align: center;
    margin: 100px;
}

.hint {
  margin-top: 0px;
}

.hint img {
  width: 250px;
  height: auto;
}

.antalvare {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Raleway SemiBold";
  width: 405px;
  text-align: center;
  margin: 50px;
}

/* agurk page antal css */
#cucumminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#cucumantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#cucumplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}

/* chips page antal css */
#chipsminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#chipsantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#chipsplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}


/* havre page antal css */
#havreminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#havreantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#havreplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}



/* hvedetoast page antal css */
#hvedeminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#hvedeantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#hvedeplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}







/* kyllingebryst page antal css */
#kyllingminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#kyllingantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#kyllingplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}





/* mælk page antal css */
#milkminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#milkantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#milkplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}



/* kød page antal css */
#meatminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#meatantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#meatplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}



/* smør page antal css */
#butterminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#butterantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#butterplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}


/* yogurt page antal css */
#yogurtminus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-right: 0px;
  font-size: 60px;
  color: #fff;
  border-radius: 11px;
}

#yogurtantal {
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 11px;
  text-align: center;
}

#yogurtplus {
  height: 100px;
  width: 100px;
  font-size: 40px;
  background-color: #c31414;
  border: none;
  padding-left: 0px;
  color: #fff;
  font-size: 60px;
  border-radius: 11px;
}




.footer {
  display: flex;
  flex-direction: row;
   position: fixed;
   justify-content: center;
   height: 200px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c31414;;
   color: white;
   text-align: center;
   font-family: "Raleway SemiBold";
   list-style: none;
   padding-bottom: 5px;
}

li {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

li img {
  height: auto;
  width: 100px;
}
