* {
  padding: 0px;
  margin: 0px;
}


body {
  background-image: url(../../images/gammelt-papir.png);
  background-position: center; /* vil ikke fylde hele siden*/
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c31414;
  border-radius: 20px;
  z-index: 10;
  width: 800px;
  max-width: 80%;
}

.modal-header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.modal-header .lukke-knap {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 30px 40px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.modal-body img {
  padding-top: 20px;
  width: 100%;
}

.overlay {
  position: fixed;
  opacity: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c31414;
  height: 200px;
  color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.tilbageknap img {
  height: 70px;
}

h1 {
  font-size: 70px;
  margin-right: 200px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.varebillede img {
  width: 100%;
}

.tekstsektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.læsmere {
  padding: 10px;
  margin-top: 100px;
  font-size: 50px;
  background-color: #c31414;
  width: 300px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-radius: 20px;
}

.hint {
  margin-top: 100px;
}

.hint img {
  width: 300px;
  height: auto;
}

.antalvare {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #c31414;
  padding: 10px;
  margin-top: 100px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
   position: fixed;
   justify-content: center;
   height: 200px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c31414;;
   color: white;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   list-style: none;
   padding-bottom: 5px;
}

li {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

li img {
  height: auto;
  width: 100px;
}
