@charset "utf-8";

@font-face {
	src:url("../../fonts/Raleway-SemiBold.ttf");
	font-family: "Raleway SemiBold";
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../../images/gammelt-papir.png);
  font-family: "Raleway SemiBold";
  font-size: 17px;
  line-height: 1.6;
}



.header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c31414;
  height: 200px;
  color: white;
  width: 100%;
  font-family: "Raleway SemiBold";
  text-align: center;


}

.tilbageknap img {
  height: 70px;
}

.header h1 {
  font-size: 70px;
	margin-top: -40px;
  margin-right: 30%;
	line-height: 70px;;
}




.footer .footlist {
  display: flex;
  flex-direction: row;
   position: fixed;
   justify-content: center;
   height: 200px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #c31414;;
   color: white;
   text-align: center;
   font-family: "Raleway SemiBold";
   list-style: none;
   padding-bottom: 5px;
}

li {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

li img {
  height: auto;
  width: 100px;
}










.scanbutton2{
  background:#c31414;
	border-radius:11px;
	border:1px solid #c31414;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Raleway SemiBold";
	font-weight: 500;
	font-size: 60px;
	padding:10px 46px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  width: 300px;
}

.scanbutton2:active {
	position:relative;
	 transform: scale(1.01);
}

.scanbutton2:hover{
  background: #8c1419;
}

.scanBtn{
  text-align: center;
  top: 50%;
}

.scanModal{
  
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.scan-modal-content{
  background-color: white;
  margin: 50% auto;
  width: 600px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name:modalopen;
  animation-duration: 1s;
  border-radius: 14px;
  border: 2px solid #c31414;
}


.blank{
  font-size: 0px;
}

.scan-modal-header{
background: #c31414;
padding: 10px;
color: white;
border-radius: 11px 11px 0px 0px;
border: 2px solid #c31414;
margin: 0px;
text-align: center;
font-size: 50px;
}

.scan-modal-body{
  padding: 30px 70px;
  text-align: center;
  font-size: 30px;
}

.scanCloseBtn{
  color: white;
  float: right;
  cursor: pointer;
  font-size: 80px;
  line-height: 20px;
}


.scanCloseBtn:hover,.scanCloseBtn:focus{
  color: #8c1419;
  text-decoration: none;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity: 1}
}

.scancam{
  display: flex;
  justify-content: center;
}

#scanContainer {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #8c1419 solid;
  display: flex;
  justify-content: center;
}

#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
